@import "colors/mocha.css";

* {
  all: unset;
  font-size: 14px;
  font-family: "SF Display Pro";
  transition: 10ms ease-in-out;
}

trough highlight {
  border-radius: 0.7rem;
  background: @green;
}

scale trough {
  margin: 0rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  background-color: @surface2;
  min-height: 8px;
  min-width: 70px;
  border-radius: 0.7rem;
}


progressbar {
  margin: 0 1rem;
}

slider {
  background-color: @green;
}
tooltip {
  opacity: 0;
}

.control-center {
  box-shadow:
    1px 3px 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @base-rgba;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base-rgba;
  color: @text;
  padding: 1rem;
}

@import "notifications.css";
@import "widgets.css";
