; https://github.com/uiriansan/SilentSDDM

[SddmGreeterTheme]
Name=kuvk
Type=sddm-theme
Description=A very customizable SDDM theme that actually looks good.
License=GPL-3.0-or-later
Version=1.4.0
Theme-Id=kuvk
Theme-API=2.0
MainScript=Main.qml
Screenshot=docs/previews/default.png
TranslationsDirectory=translations
QtVersion=6

# ConfigFile=configs/default.conf
# ConfigFile=configs/default-left.conf
# ConfigFile=configs/default-right.conf
ConfigFile=configs/rog.conf
# ConfigFile=configs/catppuccin.conf
